client/src/WSReferences/CalculatingFunctions/WsDefinitions.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/"
		xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:tns="CalculatingFunctions"
		xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
		xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:xsd1="CalculatingFunctions"
		xmlns:xsd2="StructureForGettingTheAverage"
		name="CalculatingFunctions"
		targetNamespace="CalculatingFunctions">
	<types>
		<xs:schema xmlns:tns="StructureForGettingTheAverage"
				xmlns:xs="http://www.w3.org/2001/XMLSchema"
				targetNamespace="StructureForGettingTheAverage"
				attributeFormDefault="unqualified"
				elementFormDefault="qualified">
			<xs:complexType name="DataStructure">
				<xs:sequence>
					<xs:element name="CountOfElementsInArray"
							type="xs:positiveInteger"/>
					<xs:element name="Comment"
							type="xsd2:LimitedString"/>
					<xs:element name="ArrayOfNumbers"
							type="xs:decimal"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="LimitedString">
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="100"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
				xmlns:xs1="StructureForGettingTheAverage"
				xmlns:xs2="CalculatingFunctions"
				targetNamespace="CalculatingFunctions"
				elementFormDefault="qualified">
			<xs:import namespace="StructureForGettingTheAverage"/>
			<xs:element name="getTheAverage">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DataStructure"
								type="xsd2:DataStructure"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getTheAverageResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xs:decimal"
								nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</types>
	<message name="getTheAverageRequestMessage">
		<part name="parameters"
				element="tns:getTheAverage"/>
	</message>
	<message name="getTheAverageResponseMessage">
		<part name="parameters"
				element="tns:getTheAverageResponse"/>
	</message>
	<portType name="CalculatingFunctionsPortType">
		<operation name="getTheAverage">
			<input name="getTheAverageRequest"
					message="tns:getTheAverageRequestMessage"/>
			<output name="getTheAverageResponse"
					message="tns:getTheAverageResponseMessage"/>
		</operation>
	</portType>
	<binding name="CalculatingFunctionsSoapBinding"
			type="tns:CalculatingFunctionsPortType">
		<soapbind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="getTheAverage">
			<soapbind:operation style="document"
					soapAction="CalculatingFunctions#CalculatingFunctions:getTheAverage"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="CalculatingFunctionsSoap12Binding"
			type="tns:CalculatingFunctionsPortType">
		<soap12bind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="getTheAverage">
			<soap12bind:operation style="document"
					soapAction="CalculatingFunctions#CalculatingFunctions:getTheAverage"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="CalculatingFunctions">
		<port name="CalculatingFunctionsSoap"
				binding="tns:CalculatingFunctionsSoapBinding">
			<documentation> 
				<wsi:Claim xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/"
						conformsTo="http://ws-i.org/profiles/basic/1.1"/>
			</documentation>
			<soapbind:address location="http://127.0.0.1/server/ws/CalculatingFunctions.1cws"/>
		</port>
		<port name="CalculatingFunctionsSoap12"
				binding="tns:CalculatingFunctionsSoap12Binding">
			<soap12bind:address location="http://127.0.0.1/server/ws/CalculatingFunctions.1cws"/>
		</port>
	</service>
</definitions>